@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

/* Fade-in animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Shared animation */
.fade-step {
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0; /* start invisible */
}

/* Delay for each step */
.step-1 {
  animation-delay: 0.3s;
}

.step-2 {
  animation-delay: 0.8s;
}

.step-3 {
  animation-delay: 1.3s;
}

::-webkit-scrollbar {
  display: none;
}
